body{
  margin: 0;
  /*width: 100vw;*/
}
body header{
  height: 10vh;
  /*width: 100vw;*/
  padding: 3vh;
  background-color: #3F51B5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body a{
  color: white;
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 14pt;
}
body header a {
  padding: 15px;
  border-right: 1px solid white;
}
body h1, h2, h3{
  font-family: 'Ubuntu', sans-serif;
  color: white;

}
body h1{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40pt;
  margin:0;
  text-align: center;
}
body h3{
  font-size: 30pt;
  font-weight: 400;
  text-align: center;
}
body p{
  font-family: 'Lora', serif;
  font-size: 16pt;
  color: white;
  text-align: center;
}
.menu a:last-child{
  border:none;
}
.portada{
  display: flex;
  height: 89vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*width: 100vw;*/
  background-image: url('../images/portadaBg.png');
  background-size: cover;

}
.logoBg{
  background-color: rgba(255, 255, 255, 0.35);
  padding: 30px;
  position: absolute;
  top: 15vh;
  /*margin-bottom: 40px;*/
  /*margin-bottom: 150px;*/
}
.logoBg img{
  height: 20vh;
}
.button{
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, .5);
  font-weight: 300;

}
.button:hover{
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0);

}
.botonera{
  margin-top: 60px;
}
.naranja{
  background-color: #FF9800;
}
.azul{
  background-color: #3F51B5;
  margin-right: 30px;
}
.container{
  height: 100vh;
  /*width: 100vw;*/
  display: flex;
  flex-direction: column;
}
.subHeader{
  height: 15vh;
  background-color: #3F51B5;
  display: flex;
  align-items: center;
  justify-content: center;

}
.content{
  height: 85vh;
  padding: 5vh 5vw 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.arquitecto h3{
  color: black;
}
.obras{
  background-image: url('../images/obrasBg.png');
  background-size: cover;
}
.serviciosObras{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 15px 0 30px 0;
}
.circleServicio{
  height: 20vh;
}
.tasaciones{
  background-image: url('../images/tasacionesBg.png');
  background-size: cover;
}
.afines{
  background-image: url('../images/afinesBg.png');
  background-size: cover;
}
.contacto{
  background: linear-gradient(to bottom, #ff9800 0%,#303f9f 100%);
}

/*FORMULARIO*/
.formulario{
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.formulario input{
  background-color: rgba(255,255,255,.2);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  padding: 10px 10px 10px 50px;
  margin-top: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  font-weight: 300;

}
body textarea{
  background-color: rgba(255,255,255,.2);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  padding: 10px;
  margin-top: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  font-weight: 300;


}
textarea::placeholder{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  font-weight: 300;



}
.formulario input::placeholder{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  font-weight: 300;
}
#telefono{
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
#empresa{
  background-image: url(../images/empresa.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
#email{
  background-image: url(../images/email.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

#inputEnviar{
  width: 40%;
  align-self: flex-end;
  padding: 10px;
  margin-top: 15px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, .5);


}

#inputEnviar:hover{
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0);
  cursor: pointer;
}

.mapa{
  background-image: url(../images/mapaBg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
body footer{
  height: 25vh;
  /*width: 100vw;*/
  background-color: #757575;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}
.logoFooter{
  width: 30vw;
}
.gps{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gps img{
  height: 60px;
  margin-right: 25px;
}
.gps p{
  text-align: left;
}
.redes{
  display: flex;
  flex-direction: column;
}
.redesDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.redes img{
  height: 40px;
  margin-right: 25px;
}
.mySlides img{
  height: 85vh;
  width: auto;
}
#myMap{
  width: 80%;
  height: 80%;
}

/* GALERIA */

body .w3-content{
  display: flex;
  max-width: 1024px;
  align-items: center;
  justify-content: center;
}

/*MENU RESPONSIVE*/

.menuResponsive{
  display: flex;
}
.menuResponsiveContainer{
  /*display: none;*/
  position: fixed;
  z-index: 4;
  width: 102vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: 1px solid red;*/
  background-color: rgba(254, 142, 33, .7);
  top: 0;
  bottom: 0;
  left: -102vw;
  right: 0;
  transition: .3s;
}
.menuOpen{
  left: 0;
}
.menuResponsiveContainer a{
  color: white;
  text-decoration: none;
  font-family: SolPro;
  text-transform: uppercase;
  font-size: 18pt;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px dashed white;
  /*border-top: 1px dashed white;*/
  width: 100%;
  text-align: center;
}
.menuResponsiveContainer a:first-child{
  border-top: 1px dashed white;

}
.buttonContainer{
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(254, 142, 33, 1);
}
.menuResponsive img{
  height: 60px;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  margin: 20px;
  background-color: rgba(254, 142, 33, 1);
  padding: 10px;
  border-radius: 50%;
}
.exitButton{
  display: none;
}
.active{
  display: block;
}
.menuResponsive{
  display: none;
}
/*FIN MENU RESPONSIVE*/
.gpsResponsive{display: none}

/* ARQUITECTO */
.arquitectura{
  height: 200vh;
  display: none;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 790px){
body header{
  display: none;
}
body h1{
  font-size: 28pt;
}
body h3{
  font-size: 18pt;
}
body p{
  font-size: 13pt;
}
body footer{
  height: 65vh;
}
.mySlides img{
  width: 100%;
  height: auto;
}
.portada{
  height: 100vh;
}
.menuResponsive{
  display: flex;
}
.circleServicio{
  height: 15vh;
}
.plusIcon{
  display: none;
}
.serviciosObras{
  width: 100%;
}
.footer{
  flex-wrap: wrap;
}
.logoFooter{
  width: 80%;
  margin: 25px 0 25px 0;
}
.gps{
  display: none;
}
.redes{
  width: 80%;
}
.gpsResponsive{
  display: flex;
}
.arquitectura{
  height: 200vh;
  display: none;
}
.arquitecto{
  height: 185vh;
}
}
